ul li {
    list-style: none;
    cursor: pointer;
}


.wap {
    margin-top: 70px;
    font-size: 1em;
    width: 1030px;
    padding: 5px 5px;
    height: 580px;
    border-radius: 10px;
}

.potos {
    height: 529px;
}


.midle {
    margin-bottom: 50px;
    margin-top: -3px;
    width: 100%;
    overflow: hidden;
    height: 850px;
    border-radius: 10px;
    background-color: #ffff;
}

.textbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 160px;
    width: 97%;
    float: right;
    background: #fff;
    border-radius: 10px;
    font-size: 0.7em;
}

.textboxrow {
    margin-top: 20px;
    font-size: 1.6em;
    font-weight: bolder
}


.body {
    text-align: -webkit-center;
}

.topbar {
    margin-bottom: 70px;
    border-radius: 10px;
}

.navbar {
    justify-content: center;
    border-radius: 10px;
}

.btnlf {
    margin-left: 20px;
}

.textint {
    font-size: 0.2em;
    margin-top: -20px;
}

.login {
    float: left;
    margin-right: 20px;
}

.alrim {
    font-size: 0.1rem;
    width: 45px;
}

.loginbox {
    width: 80px;
    font-size: 0.1rem;
}

.carditem {
    display: flex;
    flex-direction: column;
}

.cardbox {
    display: flex;
    flex-direction: row;
}

.like {
    font-size: 0.1rem;
    width: 45px;
    outline: 0;
    border: none;
    background-color: #fff;
}

.usedbox {
    margin-top: 20px;
    padding: 5px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnailBox {
    width: 90%;
    padding: 20px;
}

.user_hidden_manu {
    width: 174px;
    height: 75px;
    position: absolute;
    z-index: 2;
    margin-top: -14px;
    margin-left: -100px;
}

.user_hidden_manu > ul {
    font-size: 1.2em;
    width: 168px;
    border: 1px solid #0000001a;
    padding: 10px;
    border-radius: 5px;
    background: #ffff;
}



.border-reight {
    border-right: 1px solid #0000004d;
}

.textfloat {
    display: flex;
}

.textboxrow {
    margin-top: 20px;
    font-size: 1.6em;
    font-weight: bolder
}

.likebox {
    background: #ffff;
    border-radius: 5px;
    height: 275px;
}

/* 댓글 */
.commentbox {
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 90px;
    background: #fff;
    padding: 20px;
    width: 87%;
}

.commentadd {
    width: 600px;
    margin-top: 20px;
    text-align: center;
}

.addcomment {
    cursor: pointer;
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    max-width: 180px;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
    color: rgba(30, 22, 54, 0.6);
    font-size: 1.3em;
    font-weight: bold;
    box-shadow: #000000 0 0px 0px 2px inset;
}


.addcomment:hover {
    color: rgba(30, 22, 54, 0.6);
    box-shadow: #f8cd07b3 0 0px 0px 40px inset;
}

.allComment {
    margin-left: -40px;
}

.commentList {
    width: 600px;
}

.commentContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.commentText {
    background: #eaebe5e0;;
    border-radius: 10px;
    height: 132px;
    width: 710px;
    margin-bottom: 20px;
    font-size: 0.9em;

}

.recommentplz {
    margin-left: 195px;
}

.hideRecomment {
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
}
.input-group-text{
 padding: 0;
}
.commentUserImg {
    width: 100px;
    height: 100%;
    padding: 5px;
    object-fit: cover;

}
.recommentUserImg{
    width: 100px;
    height: 100%;
    padding: 5px;
    object-fit: cover;
}
.RecommentText {
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 0.9em;
    width: 565px;
    height: 116px;
    margin-left: 84px;
    background: #ebcdcdb8;
}

.commentitembox {
    width: 140px;
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
}

.Recommentitembox {
    width: 170px;
    height: 80px;
}

.commentitem {
    text-align: left;
    height: 22px;
    display: flex;
    width: 100%;
}

.Recommentitem {
    height: 50%;
    width: 100%;
}

.bntbox {
    padding: 5px;
}

.addbox {
    display: flex;
    height: 91%;
    flex-direction: column-reverse;
}


.updatebox > button {

}

.itmesize {
    width: 0.7em;
    height: 0.7em;
    margin-top: -10px;
}

.itembutton {
    height: 30px;
}

.userImg {
    aspect-ratio: 1;
    height: 65px;
    padding: 5px;
}

.userInfo {
    padding: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 22%;
}

.ReviewTop {
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    height: 80px;
    background-color: #FFFFFF;
    padding: 10px;
    text-align: left;
    display: flex;
    border-bottom: 1px solid #00000047;
    margin-bottom: 10px;
}

.reviewTitle2 {
    width: 59%;
    font-size: 1.2em;
    align-items: center;
    text-align: left;
    display: flex;
}

.user_manu {
    padding: 6px;
    display: flex;
    width: 100%;
    font-size: 2.9em;
    flex-direction: row-reverse;
}
.arrow{
    display: flex;
    position: absolute;
    font-size: 3rem;
    margin-left: 23px;
}

.commentTexts {
    width: 480px;
    align-self: center;
    padding: 10px;
    float: left;
    height: 50px;
    font-size: 1.5em;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    text-align: left;
}

.RecommentTexts {
    width: 311px;
    align-self: center;
    float: left;
    text-align: left;
    height: 38px;
    border-bottom: 1px solid;
    font-size: 1.5em;
    margin-bottom: 11px;
}

.buttonMargin {
    margin-right: 2px;
}


.animation-init {
    opacity: 0;
    padding-top: 1em;
}

.animation-fade {
    opacity: 1;
    padding-top: 0;
    transition: all 1s;
}