<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MyPageMapper">

    <resultMap id="userSelectMap" type="user">
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="masterCheck" column="master_check" jdbcType="CHAR"/>
        <result property="userStatus" column="user_status" jdbcType="CHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="rrd" column="rrd" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="villCode" column="vill_code" jdbcType="VARCHAR"/>
        <result property="userImage" column="user_Image" jdbcType="VARCHAR"/>
        <result property="psd" column="psd" jdbcType="DATE"/>
        <result property="ped" column="ped" jdbcType="DATE"/>
        <result property="ppt" column="ppt" jdbcType="NUMERIC"/>
        <result property="reviewPt" column="review_pt" jdbcType="NUMERIC"/>
        <result property="loginType" column="login_type" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap type="com.project.domain.Cluber" id="CluberResultMap">
        <result property="clubUserNum" column="club_user_num" jdbcType="INTEGER"/>
        <result property="user.userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="user.userImage" column="user_image" jdbcType="VARCHAR"/>
        <result property="clubNum" column="club_num" jdbcType="INTEGER"/>
        <result property="cluberStatus" column="cluber_status" jdbcType="CHAR"/>
        <result property="clubRegDate" column="club_reg_date" jdbcType="DATE"/>
        <result property="clubApplyDate" column="club_apply_date" jdbcType="DATE"/>
        <result property="cluberText" column="cluber_text" jdbcType="VARCHAR"/>
        <result property="clubOutText" column="club_out_text" jdbcType="VARCHAR"/>
        <result property="clubOutDate" column="club_out_date" jdbcType="DATE"/>
        <result property="blacklistDate" column="blacklist_date" jdbcType="DATE"/>
        <result property="blacklistText" column="blacklist_text" jdbcType="VARCHAR"/>
        <result property="blacklistCheck" column="blacklist_check" jdbcType="CHAR"/>
    </resultMap>

    <resultMap id="interListSelectMap" type="interList">
        <result property="userInterListNum" column="user_inter_list_num" jdbcType="NUMERIC"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="interList" column="inter_list" jdbcType="CHAR"/>
    </resultMap>

    <resultMap id="villBoardSelect" type="villBoard">
        <result property="villBoardNum" column="vill_board_num" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="villCode" column="vill_code" jdbcType="VARCHAR"/>
        <result property="villTitle" column="vill_title" jdbcType="VARCHAR"/>
        <result property="villText" column="vill_text" jdbcType="VARCHAR"/>
        <result property="villTag" column="vill_tag" jdbcType="VARCHAR"/>
        <result property="regDate" column="reg_date" jdbcType="DATE"/>
        <result property="viewCount" column="view_count" jdbcType="INTEGER"/>
        <result property="likeCount" column="like_count" jdbcType="INTEGER"/>
        <result property="boardCategory" column="board_category" jdbcType="INTEGER"/>
        <result property="likeCheck" column="LIKE_CHECK" jdbcType="CHAR"/>
    </resultMap>


    <resultMap id="liikeSelect" type="like">
        <result property="likeNum" column="like_num" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="boardCategory" column="board_category" jdbcType="VARCHAR"/>
        <result property="boardNum" column="board_num" jdbcType="VARCHAR"/>
        <result property="likeCheck" column="like_check" jdbcType="CHAR"/>
    </resultMap>


    <resultMap id="commentSelect" type="comment">
        <result property="commentNum" column="comment_num" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="clubNum" column="club_num" jdbcType="INTEGER"/>
        <result property="boardNum" column="board_Num" jdbcType="INTEGER"/>
        <result property="boardCategory" column="board_category" jdbcType="VARCHAR"/>
        <result property="commentCheck" column="comment_check" jdbcType="VARCHAR"/>
        <result property="commentText" column="comment_text" jdbcType="VARCHAR"/>
        <result property="regDate" column="reg_date" jdbcType="DATE"/>
        <result property="likeCheck" column="LIKE_CHECK" jdbcType="CHAR"/>
        <result property="likeCount" column="LIKE_count" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="recommentSelect" type="recomment">
        <result property="recommentNum" column="recomment_num" jdbcType="INTEGER"/>
        <result property="commentNum" column="comment_num" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="boardCategory" column="board_category" jdbcType="VARCHAR"/>
        <result property="recommentText" column="recomment_text" jdbcType="VARCHAR"/>
        <result property="regDate" column="reg_date" jdbcType="DATE"/>
        <result property="CboardCategory" column="c_board_category" jdbcType="VARCHAR"/>
        <result property="CboardNum" column="board_num" jdbcType="INTEGER"/>
        <result property="likeCheck" column="LIKE_CHECK" jdbcType="CHAR"/>
        <result property="likeCount" column="LIKE_count" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="clubCalenderSelect" type="clubCalender">
        <result property="clubCalenderNum" column="club_calendar_num" jdbcType="INTEGER"/>
        <result property="clubNum" column="club_num" jdbcType="INTEGER"/>
        <result property="regDate" column="reg_date" jdbcType="DATE"/>
        <result property="calenderTitle" column="calendar_title" jdbcType="VARCHAR"/>
        <result property="calenderText" column="calendar_text" jdbcType="VARCHAR"/>
        <result property="clubDate" column="club_date" jdbcType="DATE"/>
        <result property="location" column="location" jdbcType="VARCHAR"/>
        <result property="noticeCheck" column="notice_check" jdbcType="VARCHAR"/>
        <result property="noticeTime" column="notice_time" jdbcType="VARCHAR"/>
        <result property="calendarApplyCheck" column="calendar_apply_check" jdbcType="VARCHAR"/>
        <result property="applyAutoCheck" column="apply_auto_check" jdbcType="VARCHAR"/>

    </resultMap>

    <resultMap id="calenderReviewSelect" type="calenderReview">
        <result property="clubCalenderReviewNum" column="club_calendar_review_num" jdbcType="INTEGER"/>
        <result property="clubCalenderNum" column="club_calendar_num" jdbcType="INTEGER"/>
        <result property="clubNum" column="club_num" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="reviewRange" column="review_range" jdbcType="VARCHAR"/>
        <result property="reviewTitle" column="review_title" jdbcType="VARCHAR"/>
        <result property="reviewText" column="review_text" jdbcType="VARCHAR"/>
        <result property="regDate" column="reg_date" jdbcType="DATE"/>
        <result property="viewCount" column="view_count" jdbcType="INTEGER"/>
        <result property="likeConunt" column="like_count" jdbcType="INTEGER"/>
        <result property="updateDate" column="update_date" jdbcType="DATE"/>
        <result property="boardCategory" column="board_category" jdbcType="INTEGER"/>
        <result property="likeCheck" column="LIKE_CHECK" jdbcType="CHAR"/>
    </resultMap>

    <resultMap type="com.project.domain.Club" id="ClubResultMap">
        <result property="clubNum" column="club_num" jdbcType="INTEGER"/>
        <result property="clubMasterId" column="club_master_id" jdbcType="VARCHAR"/>
        <result property="interList" column="inter_list" jdbcType="CHAR"/>
        <result property="clubName" column="club_name" jdbcType="VARCHAR"/>
        <result property="clubText" column="club_text" jdbcType="VARCHAR"/>
        <result property="villCode" column="vill_code" jdbcType="CHAR"/>
        <result property="currentCluber" column="current_cluber" jdbcType="INTEGER"/>
        <result property="clubCreateDate" column="club_create_date" jdbcType="DATE"/>
        <result property="clubImage" column="club_image" jdbcType="VARCHAR"/>
        <result property="gatherCheck" column="gather_check" jdbcType="CHAR"/>
        <result property="tag" column="club_tag" jdbcType="VARCHAR"/>
        <result property="clubDeleteCheck" column="club_delete_check" jdbcType="CHAR"/>
        <result property="likeCheck" column="like_check" jdbcType="CHAR"/>
    </resultMap>

    <resultMap type="com.project.domain.ClubMasterBoard" id="ClubMasterBoardResultMap">
        <result property="boardNum" column="club_master_board_num" jdbcType="INTEGER"/>
        <result property="clubNum" column="club_num" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="text" column="text" jdbcType="VARCHAR"/>
        <result property="regDate" column="reg_date" jdbcType="DATE"/>
        <result property="updateDate" column="update_date" jdbcType="DATE"/>
        <!--<collection property="files" column="club_master_board_num" ofType="com.project.domain.File"
                    select="getClubMasterBoardFiles"/>-->
    </resultMap>

    <resultMap id="dealSelectMap" type="deal">
        <result property="dealBoardNum" column="deal_board_num" jdbcType="INTEGER"/>
        <result property="boardCategory" column="board_category" jdbcType="CHAR"/>
        <result property="dealStatus" column="deal_status" jdbcType="CHAR"/>
        <result property="user.userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="dealTitle" column="deal_title" jdbcType="VARCHAR"/>
        <result property="dealText" column="deal_text" jdbcType="VARCHAR"/>
        <result property="dealRegDate" column="deal_reg_date" jdbcType="DATE"/>
        <result property="productName" column="product_name" jdbcType="VARCHAR"/>
        <result property="price" column="price" jdbcType="INTEGER"/>
        <result property="tag" column="deal_tag" jdbcType="VARCHAR"/>
        <result property="viewCount" column="view_count" jdbcType="INTEGER"/>
        <result property="villCode" column="vill_code" jdbcType="VARCHAR"/>
        <result property="dealId" column="deal_id" jdbcType="VARCHAR"/>
        <result property="dealModeCheck" column="deal_mode_check" jdbcType="CHAR"/>
        <result property="charNum" column="char_num" jdbcType="INTEGER"/>
        <result property="review" column="review" jdbcType="VARCHAR"/>
        <result property="reviewPt" column="review_pt" jdbcType="INTEGER"/>
        <result property="dealEndDate" column="deal_end_date" jdbcType="DATE"/>
        <result property="dealDate" column="deal_date" jdbcType="DATE"/>
        <result property="dealLocation" column="deal_location" jdbcType="VARCHAR"/>
        <collection property="files" column="deal_board_num" ofType="com.project.domain.File" select="getDealBoardFiles"/>
    </resultMap>

    <resultMap type="com.project.domain.File" id="FileResultMap">
        <result property="fileNum" column="file_num" jdbcType="INTEGER"/>
        <result property="boardNum" column="board_num" jdbcType="VARCHAR"/>
        <result property="boardCategory" column="board_category" jdbcType="VARCHAR"/>
        <result property="fileName" column="file_name" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="MasterBoardSelectMap" type="masterBoard">
        <result property="masterBoardNo" column="master_board_num" jdbcType="INTEGER"/>
        <result property="adminId" column="admin_id" jdbcType="VARCHAR"/>
        <result property="mbCategory" column="mb_category" jdbcType="CHAR"/>
        <result property="mbTitle" column="mb_title" jdbcType="VARCHAR"/>
        <result property="mbText" column="mb_text" jdbcType="VARCHAR"/>
        <result property="mbRegDate" column="reg_date" jdbcType="DATE"/>
        <collection property="files" column="master_board_num" ofType="com.project.domain.File"
                    select="getMasterBoardFiles"/>
    </resultMap>

    <resultMap id="CommunityReportSelectMap" type="communityReport">
        <result property="reportNo" column="report_num" jdbcType="INTEGER"/>
        <result property="boardNo" column="board_num" jdbcType="INTEGER"/>
        <result property="boardCategory" column="board_category" jdbcType="CHAR"/>
        <result property="reportId" column="report_id" jdbcType="VARCHAR"/>
        <result property="reportedId" column="reported_id" jdbcType="VARCHAR"/>
        <result property="adminId" column="admin_id" jdbcType="VARCHAR"/>
        <result property="reportBasis" column="report_basis" jdbcType="CHAR"/>
        <result property="reportDate" column="report_date" jdbcType="DATE"/>
        <result property="reportText" column="report_text" jdbcType="VARCHAR"/>
        <result property="ppt" column="ppt" jdbcType="INTEGER"/>
        <result property="pptDate" column="ppt_date" jdbcType="DATE"/>
        <result property="processResult" column="process_result" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getDealBoardFiles" resultMap="FileResultMap">
        SELECT *
        FROM files
        WHERE board_num = #{boardNum}
          AND (board_category = '08'
            OR board_category = '09')
        ORDER BY file_num DESC
    </select>

    <!--현재 파일 조회-->
    <select id="listDealBoardFile" parameterType="int" resultType="String">
        SELECT file_name
        FROM files
        WHERE board_num = #{boardNum}
          AND (board_category = '08'
            OR board_category = '09')
    </select>

    <select id="getMyPage" parameterType="String" resultMap="userSelectMap">
        SELECT user_id,
               master_check,
               user_status,
               password,
               user_name,
               gender,
               email,
               phone,
               vill_code,
               user_image,
               psd,
               ped,
               ppt,
               review_pt,
               login_type
        FROM users
        WHERE user_id = #{userId}
    </select>

    <select id="getMyInfor" parameterType="String" resultMap="userSelectMap">
        SELECT user_id,
               password,
               user_name,
               rrd,
               gender,
               email,
               phone,
               vill_code,
               user_image,
               psd,
               ped,
               ppt,
               review_pt,
               login_type
        FROM users
        WHERE user_id = #{userId}
    </select>

    <select id="getMyInforInterList" parameterType="String" resultMap="interListSelectMap">
        SELECT inter_list
        FROM user_inter_list
        WHERE user_id = #{userId}
    </select>


    <select id="getMyClubBoard" parameterType="String" resultMap="ClubMasterBoardResultMap">
        SELECT *
        FROM club_master_board
        WHERE user_id = #{userId}
    </select>


    <sql id="getMyClubCalendarReviewSQL">
        select *
        from CLUB_CALENDAR_REVIEW
        where USER_ID = #{userId}
    </sql>

    <select id="getClubCalenderReviewTotal" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM(
        <include refid="getMyClubCalendarReviewSQL"/>
        )
    </select>

    <select id="getMyClubCalendarReview" parameterType="map" resultMap="calenderReviewSelect">

        SELECT * FROM (
        SELECT ROWNUM row_num, vt.* FROM (
        <include refid="getMyClubCalendarReviewSQL"/>
        ) vt
        <if test="search.currentPage*search.pageSize!=0">
            WHERE ROWNUM &lt;= #{search.currentPage}*#{search.pageSize}
        </if>
        )
        <where>
            <if test="search.currentPage*search.pageSize!=0">
                row_num >= ((#{search.currentPage}-1)*#{search.pageSize}+1)
            </if>
        </where>

    </select>


    <sql id="getMyclubCalendarReviewLikeSql">
        select ls.LIKE_CHECK, cr.*
        from likes ls,
             CLUB_CALENDAR_REVIEW cr
        where ls.user_id = #{userId}
          and ls.board_num = cr.club_calendar_review_num
          and ls.board_category = cr.board_category
          and ls.LIKE_CHECK = 'y'
    </sql>

    <select id="getMyclubCalendarReviewLikeTotal" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM(
        <include refid="getMyclubCalendarReviewLikeSql"/>
        )
    </select>

    <select id="getMyclubCalendarReviewLike" parameterType="map" resultMap="calenderReviewSelect">

        SELECT * FROM (
        SELECT ROWNUM row_num, vt.* FROM (
        <include refid="getMyclubCalendarReviewLikeSql"/>
        ) vt
        <if test="search.currentPage*search.pageSize!=0">
            WHERE ROWNUM &lt;= #{search.currentPage}*#{search.pageSize}
        </if>
        )
        <where>
            <if test="search.currentPage*search.pageSize!=0">
                row_num >= ((#{search.currentPage}-1)*#{search.pageSize}+1)
            </if>
        </where>

    </select>


    <sql id="getMyVillBoardSql">
        SELECT *
        FROM vill_board
        WHERE user_id = #{userId}
    </sql>

    <select id="getMyVillBoardTotal" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM(
        <include refid="getMyVillBoardSql"/>
        )
    </select>

    <select id="getMyVillBoard" parameterType="map" resultMap="villBoardSelect">

        SELECT * FROM (
        SELECT ROWNUM row_num, vt.* FROM (
        <include refid="getMyVillBoardSql"/>
        ) vt
        <if test="search.currentPage*search.pageSize!=0">
            WHERE ROWNUM &lt;= #{search.currentPage}*#{search.pageSize}
        </if>
        )
        <where>
            <if test="search.currentPage*search.pageSize!=0">
                row_num >= ((#{search.currentPage}-1)*#{search.pageSize}+1)
            </if>
        </where>

    </select>


    <sql id="getMyVillBoardLikeSql">
        select ls.like_check, vb.*
        from LIKES ls,
             vill_board vb
        where ls.user_id = #{userId}
          and ls.board_num = vb.VILL_BOARD_NUM
          and ls.board_category = vb.board_category
          and ls.LIKE_CHECK = 'y'
    </sql>

    <select id="getMyVillBoardLikeTotal" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM(
        <include refid="getMyVillBoardLikeSql"/>
        )
    </select>

    <select id="getMyVillBoardLike" parameterType="map" resultMap="villBoardSelect">

        SELECT * FROM (
        SELECT ROWNUM row_num, vt.* FROM (
        <include refid="getMyVillBoardLikeSql"/>
        ) vt
        <if test="search.currentPage*search.pageSize!=0">
            WHERE ROWNUM &lt;= #{search.currentPage}*#{search.pageSize}
        </if>
        )
        <where>
            <if test="search.currentPage*search.pageSize!=0">
                row_num >= ((#{search.currentPage}-1)*#{search.pageSize}+1)
            </if>
        </where>

    </select>


    <sql id="getMyCommentSql">
        SELECT *
        FROM comments
        WHERE user_id = #{userId}
    </sql>

    <select id="getMyCommentTotal" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM(
        <include refid="getMyCommentSql"/>
        )
    </select>

    <select id="getMyComment" parameterType="map" resultMap="commentSelect">

        SELECT * FROM (
        SELECT ROWNUM row_num, vt.* FROM (
        <include refid="getMyCommentSql"/>
        ) vt
        <if test="search.currentPage*search.pageSize!=0">
            WHERE ROWNUM &lt;= #{search.currentPage}*#{search.pageSize}
        </if>
        )
        <where>
            <if test="search.currentPage*search.pageSize!=0">
                row_num >= ((#{search.currentPage}-1)*#{search.pageSize}+1)
            </if>
        </where>

    </select>

    <sql id="getMyRecommentSql">
        select rt.*, cs.board_category AS c_board_category, cs.board_num
        from recomment rt,
             COMMENTS cs
        where rt.user_id = #{userId}
          and rt.comment_num = cs.comment_num(+)
    </sql>

    <select id="getMyRecommentTotal" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM(
        <include refid="getMyRecommentSql"/>
        )
    </select>

    <select id="getMyRecommentlist" parameterType="map" resultMap="recommentSelect">

        SELECT * FROM (
        SELECT ROWNUM row_num, vt.* FROM (
        <include refid="getMyRecommentSql"/>
        ) vt
        <if test="search.currentPage*search.pageSize!=0">
            WHERE ROWNUM &lt;= #{search.currentPage}*#{search.pageSize}
        </if>
        )
        <where>
            <if test="search.currentPage*search.pageSize!=0">
                row_num >= ((#{search.currentPage}-1)*#{search.pageSize}+1)
            </if>
        </where>

    </select>


    <!--좋아요한 댓글 조호-->
    <sql id="getMyCommentLikeSQL">
        select ls.like_check, cs.*
        from LIKES ls,
             comments cs
        where ls.user_id = #{userId}
          and ls.board_num = cs.comment_num(+)
          and ls.board_category = '10'
          and ls.LIKE_CHECK = 'y'
    </sql>

    <select id="getMyCommentLikeTotal" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM(
        <include refid="getMyCommentLikeSQL"/>
        )
    </select>

    <select id="getMyCommentLike" parameterType="map" resultMap="commentSelect">

        SELECT * FROM (
        SELECT ROWNUM row_num, vt.* FROM (
        <include refid="getMyCommentLikeSQL"/>
        ) vt
        <if test="search.currentPage*search.pageSize!=0">
            WHERE ROWNUM &lt;= #{search.currentPage}*#{search.pageSize}
        </if>
        )
        <where>
            <if test="search.currentPage*search.pageSize!=0">
                row_num >= ((#{search.currentPage}-1)*#{search.pageSize}+1)
            </if>
        </where>

    </select>

    <sql id="getMyRecommentLikeSql">
        select ls.like_check, rs.*
        from LIKES ls,
             recomment rs
        where ls.user_id = #{userId}
          and ls.board_num = rs.recomment_num
          and ls.board_category = rs.board_category
          and ls.LIKE_CHECK = 'y'
    </sql>

    <select id="getMyRecommentLikeTotal" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM(
        <include refid="getMyRecommentLikeSql"/>
        )
    </select>

    <select id="getMyRecommentLike" parameterType="map" resultMap="recommentSelect">

        SELECT * FROM (
        SELECT ROWNUM row_num, vt.* FROM (
        <include refid="getMyRecommentLikeSql"/>
        ) vt
        <if test="search.currentPage*search.pageSize!=0">
            WHERE ROWNUM &lt;= #{search.currentPage}*#{search.pageSize}
        </if>
        )
        <where>
            <if test="search.currentPage*search.pageSize!=0">
                row_num >= ((#{search.currentPage}-1)*#{search.pageSize}+1)
            </if>
        </where>

    </select>



    <sql id="getMydealBoardLikeSql">
        select dl.*, ls.LIKE_CHECK
        from DEAL dl, likes ls
        where ls.user_id = #{userId}
          and dl.deal_board_num = ls.BOARD_NUM
          and ls.BOARD_CATEGORY = '8'
          and ls.like_check = 'y'
    </sql>



    <select id="getMydealBoardLikeTotal" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM(
        <include refid="getMydealBoardLikeSql"/>
        )
    </select>

    <select id="getMydealBoardLike" parameterType="map" resultMap="dealSelectMap">

        SELECT * FROM (
        SELECT ROWNUM row_num, vt.* FROM (
        <include refid="getMydealBoardLikeSql"/>
        ) vt
        <if test="search.currentPage*search.pageSize!=0">
            WHERE ROWNUM &lt;= #{search.currentPage}*#{search.pageSize}
        </if>
        )
        <where>
            <if test="search.currentPage*search.pageSize!=0">
                row_num >= ((#{search.currentPage}-1)*#{search.pageSize}+1)
            </if>
        </where>

    </select>







    <!--가입한 모임 조회-->
    <sql id="getMyCluberSql">
        SELECT a.*
        FROM club_user a, club b
        WHERE a.club_num = b.club_num and a.user_id=#{userId}
        <if test="applyCheck=='join'">
            and a.cluber_status IN ('4','5','6')
        </if>
        <if test="applyCheck=='apply'">
            and a.cluber_status IN ('2','3','4','5','6','7','8')
        </if>
        ORDER BY a.club_apply_date DESC
    </sql>
    <select id="getTotalMyCluber" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM (
        <include refid="getMyCluberSql"/>
        )
    </select>
    <select id="getMyCluber" parameterType="map" resultMap="CluberResultMap">
        SELECT * FROM (
        SELECT ROWNUM row_num, vt.* FROM (
        <include refid="getMyCluberSql"/>
        ) vt
        <if test="search.currentPage*search.pageSize!=0">
            WHERE ROWNUM &lt;= #{search.currentPage}*#{search.pageSize}
        </if>
        )
        <where>
            <if test="search.currentPage*search.pageSize!=0">
                row_num >= ((#{search.currentPage}-1)*#{search.pageSize}+1)
            </if>
        </where>
    </select>
    <select id="getMyClub" parameterType="map" resultMap="ClubResultMap">
        SELECT c.*, l.like_check
        FROM club c,
             (SELECT board_num,
                     like_check
              FROM likes
              WHERE board_category = '12'
                AND user_id = #{userId}) l
        WHERE c.club_delete_check = '0'
          AND club_num = ${cluber.clubNum}
          AND c.club_num = l.board_num(+)
    </select>

    <sql id="getMyClubLikeSql">
        SELECT c.*, l.like_check
        FROM club c,
             (SELECT board_num,
                     like_check
              FROM likes
              WHERE board_category = '12'
                AND user_id = #{userId}
              AND like_check = 'y') l
        WHERE c.club_delete_check = '0'
          AND c.club_num = l.board_num
    </sql>
    <select id="getTotalMyClubLike" parameterType="map" resultType="int">
        SELECT COUNT(*) FROM (
        <include refid="getMyClubLikeSql"/>
        )
    </select>
    <select id="getMyClubLike" parameterType="map" resultMap="ClubResultMap">
        SELECT * FROM (
        SELECT ROWNUM row_num, vt.* FROM (
        <include refid="getMyClubLikeSql"/>
        ) vt
        <if test="search.currentPage*search.pageSize!=0">
            WHERE ROWNUM &lt;= #{search.currentPage}*#{search.pageSize}
        </if>
        )
        <where>
            <if test="search.currentPage*search.pageSize!=0">
                row_num >= ((#{search.currentPage}-1)*#{search.pageSize}+1)
            </if>
        </where>
    </select>


    <select id="getMyDeal" parameterType="String" resultMap="dealSelectMap">
        SELECT *
        FROM deal
        WHERE deal_status = '2' and (user_id = #{userId} or deal_id = #{userId})
    </select>


    <select id="getMyReport" parameterType="String" resultMap="CommunityReportSelectMap">
        SELECT *
        FROM community_report
        WHERE report_id = #{userId}
    </select>

    <select id="getTotalCount" parameterType="search" resultType="int">
        SELECT count(*)
        FROM community_report
    </select>

    <select id="getTotalCmt" parameterType="search" resultType="int">
        SELECT count(*)
        FROM community_report
    </select>


    <select id="getMyPpt" parameterType="String" resultMap="CommunityReportSelectMap">
        SELECT *
        FROM community_report
        WHERE reported_id = #{userId}
    </select>

    <select id="getMydealBoard" parameterType="String" resultMap="dealSelectMap">
        select *
        from DEAL
        where USER_ID = #{userId}
    </select>


</mapper>