<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SiteMapper">

    <resultMap id="MasterBoardSelectMap" type="masterBoard">
        <result property="masterBoardNo" 	column="master_board_num"   jdbcType="INTEGER"/>
        <result property="adminId"	column="admin_id" 		 jdbcType="VARCHAR"/>
        <result property="mbCategory" column="mb_category" 	 jdbcType="CHAR"/>
        <result property="mbTitle" column="mb_title"         jdbcType="VARCHAR"/>
        <result property="mbText" 	column="mb_text" 		jdbcType="VARCHAR"/>
        <result property="mbRegDate" 	column="reg_date"       jdbcType="DATE"/>
    </resultMap>



    <resultMap id="CommunityReportSelectMap" type="communityReport">
        <result property="reportNo" 	column="report_num"   jdbcType="INTEGER"/>
        <result property="boardNo"	column="board_num" 		 jdbcType="INTEGER"/>
        <result property="boardCategory" column="board_category" 	 jdbcType="CHAR"/>
        <result property="reportId" column="report_id"         jdbcType="VARCHAR"/>
        <result property="reportedId" column="reported_id"         jdbcType="VARCHAR"/>
        <result property="adminId" 	column="admin_id" 		jdbcType="VARCHAR"/>
        <result property="reportBasis" column="report_basis"         jdbcType="CHAR"/>
        <result property="reportDate" 	column="report_date"       jdbcType="DATE"/>
        <result property="reportText" 	column="report_text"       jdbcType="VARCHAR"/>
        <result property="ppt" 	column="ppt"       jdbcType="INTEGER"/>
        <result property="pptDate" 	column="ppt_date"       jdbcType="DATE"/>
        <result property="processResult" 	column="process_result"       jdbcType="VARCHAR"/>
    </resultMap>


    <resultMap id="ClubReportSelectMap" type="clubReport">
        <result property="clubReportNo" 	column="club_report_num"   jdbcType="INTEGER"/>
        <result property="clubNum"	column="club_num" 		 jdbcType="INTEGER"/>
        <result property="reportId" column="report_id" 	 jdbcType="VARCHAR"/>
        <result property="adminId" column="admin_id"         jdbcType="VARCHAR"/>
        <result property="crBasis" column="cr_basis"         jdbcType="CHAR"/>
        <result property="reportDate" column="report_date"         jdbcType="DATE"/>
        <result property="reportText" 	column="report_text"       jdbcType="VARCHAR"/>
        <result property="processDate" column="process_date"         jdbcType="DATE"/>
        <result property="reportResult" 	column="report_result"       jdbcType="VARCHAR"/>
        <result property="rereportApplyCheck" 	column="rereport_apply_check"       jdbcType="CHAR"/>
        <result property="rereportApplyDate" 	column="rereport_apply_date"       jdbcType="DATE"/>
        <result property="rereportText" 	column="rereport_text"       jdbcType="VARCHAR"/>
        <result property="rereportResult" 	column="rereport_result"       jdbcType="VARCHAR"/>
    </resultMap>

    <!-- Master Board Query 공지사항 추가-->
    <insert id="addMasterBoard" parameterType="masterBoard">
    INSERT INTO master_board(
                master_board_num,
                admin_id,
                mb_category,
                mb_title,
                mb_text,
                reg_date)
    VALUES (    seq_master_board.NEXTVAL,
                #{adminId},
                #{mbCategory},
                #{mbTitle},
                #{mbText},
                SYSDATE)
    </insert>

    <!-- Master Board Query 공지사항 상세 조회-->
    <select id="getMasterBoard"	parameterType="int"	resultMap="MasterBoardSelectMap">
        SELECT
            master_board_num,
            admin_id,
            mb_category,
            mb_title,
            mb_text,
            reg_date
        FROM master_board
        WHERE master_board_num = #{value}
    </select>

    <!-- Master Board Query 공지사항 수정-->
    <update	id="updateMasterBoard"	parameterType="masterBoard" >
        UPDATE master_board
        <set>
            admin_id 		= #{adminId} ,
            mb_category		= #{mbCategory},
            mb_title        = #{mbTitle} ,
            mb_text			= #{mbText},
            reg_date		= #{mbRegDate}
        </set>
        WHERE master_board_num = #{masterBoardNo}
    </update>

    <!-- Master Board Query 공지사항 삭제-->
    <delete id="deleteMasterBoard" parameterType="int">

        DELETE master_board
        <where>
            master_board_num = #{masterBoardNo}
        </where>
    </delete>

    <!-- Master Board Query 공지사항 목록 조회-->
    <select id="listMasterBoard" parameterType="search" resultMap="MasterBoardSelectMap">

        SELECT *
        FROM (	SELECT inner_table.* , ROWNUM AS row_seq
                FROM		(	SELECT master_board_num, admin_id, mb_category, mb_title, reg_date
                                FROM master_board
                                    <if test="searchCondition != null">
                                        <where>
                                        <if test="searchCondition == 0 and searchKeyword !='' ">
                                            master_board_num = to_char(#{searchKeyword})
                                        </if>
                                        <if test="searchCondition == 1 and searchKeyword !='' ">
                                            mb_title LIKE "%"||#{searchKeyword}||"%"
                                        </if>
                                        </where>
                                    </if>
                                    ORDER BY master_board_num ) inner_table
                 WHERE ROWNUM &lt;= #{endRowNum} )
        WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
    </select>

    <select  id="getMbTotalCount"  parameterType="search"	 resultType="int">
        SELECT COUNT(*)
        FROM(	SELECT master_board_num, admin_id, mb_category, mb_title, reg_date
                FROM master_board
                    <if test="searchCondition != null">
                        <where>
                            <if test="searchCondition == 0 and searchKeyword !='' ">
                                master_board_num = to_char(#{searchKeyword})
                            </if>
                            <if test="searchCondition == 1 and searchKeyword !='' ">
                                mb_title LIKE "%"||#{searchKeyword}||"%"
                            </if>
                        </where>
                    </if> ) countTable
    </select>

    <!-- 커뮤니티 신고 CRUD -->
    <insert id="addCommunityReport" parameterType="communityReport">
        INSERT INTO community_report(
            report_num,
            board_num,
            board_category,
            report_id,
            reported_id,
            admin_id,
            report_basis,
            report_text,
            report_date,
            ppt,
            process_result)
        VALUES (    seq_community_report.NEXTVAL,
                    #{boardNo},
                    #{boardCategory},
                    #{reportId},
                    #{reportedId},
                    #{adminId},
                    #{reportBasis},
                    #{reportText},
                    SYSDATE,
                    0,
                    '처리중')
    </insert>

    <!-- Community Report Query 상세 조회-->
    <select id="getCommunityReport"	parameterType="int"	resultMap="CommunityReportSelectMap">
        SELECT
            report_num,
            report_id,
            reported_id,
            report_date,
            board_category,
            report_basis,
            report_text
        FROM community_report
        WHERE report_num = #{value}
    </select>

    <!-- Master Board Query 공지사항 수정-->
    <update	id="processCommunityReport"	parameterType="communityReport" >
        UPDATE community_report
        <set>
            ppt 		= #{ppt} ,
            ppt_date		= SYSDATE,
            process_result = <if test='ppt==0'>'처리중'</if>
                             <if test='ppt!=0'>'처리완료'</if>
        </set>
        WHERE report_num = #{reportNo}
    </update>

    <select id="listCommunityReport" parameterType="search" resultMap="CommunityReportSelectMap">
        SELECT *
        FROM (	SELECT inner_table.* , ROWNUM AS row_seq
                FROM
                    (SELECT report_num, reported_id, report_date, board_category, board_num, process_result
                    FROM community_report
                        <if test="searchCondition != null">
                            <where>
                            <if test="searchCondition == 0 and searchKeyword !='' ">
                                report_num = to_char(#{searchKeyword})
                            </if>
                            <if test="searchCondition == 1 and searchKeyword !='' ">
                                reported_id LIKE "%"||#{searchKeyword}||"%"
                            </if>
                            </where>
                        </if>
                    ORDER BY report_num ) inner_table
                WHERE ROWNUM &lt;= #{endRowNum} )
        WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
    </select>

    <select id="listCommunityReportProcess" parameterType="search" resultMap="CommunityReportSelectMap">
        SELECT *
        FROM (	SELECT inner_table.* , ROWNUM AS row_seq
                FROM
                    (SELECT report_num, reported_id, report_date, ppt, ppt_date, admin_id
                        FROM community_report
                            <if test="searchCondition != null">
                                <where>
                                <if test="searchCondition == 0 and searchKeyword !='' ">
                                    report_num = to_char(#{searchKeyword})
                                </if>
                                <if test="searchCondition == 1 and searchKeyword !='' ">
                                    reported_id LIKE "%"||#{searchKeyword}||"%"
                                </if>
                                </where>
                            </if>
                        ORDER BY report_num ) inner_table
                WHERE ROWNUM &lt;= #{endRowNum} )
        WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
    </select>

    <select id="getCommunityReportProcess"	parameterType="int"	resultMap="CommunityReportSelectMap">
        SELECT  report_num,
                report_id,
                reported_id,
                report_date,
                board_category,
                report_basis,
                ppt,
                ppt_date,
                report_text
        FROM community_report
        WHERE report_num = #{value}
    </select>

    <delete id="deleteCommunityReport" parameterType="int">

        DELETE community_report
        <where>
            report_num = #{reportNo}
        </where>
    </delete>

    <select  id="getTotalCount"  parameterType="map"	 resultType="_int">
        SELECT COUNT(*)
        FROM (
            <if test='where=="communityReportList"'>
                SELECT report_num, reported_id, report_date, board_category, board_num, process_result
                FROM community_report
                    <if test="searchCondition != null">
                        <where>
                            <if test="searchCondition == 0 and searchKeyword !='' ">
                                report_num = to_char(#{searchKeyword})
                            </if>
                            <if test="searchCondition == 1 and searchKeyword !='' ">
                               reported_id LIKE "%"||#{searchKeyword}||"%"
                            </if>
                        </where>
                        </if>
                ) countTable
            </if>

        <if test='where=="communityReportProcessList"'>
            SELECT report_num, reported_id, report_date, ppt, ppt_date, admin_id
            FROM community_report
            <if test="searchCondition != null">
                <where>
                    <if test="searchCondition == 0 and searchKeyword !='' ">
                        report_num = to_char(#{searchKeyword})
                    </if>
                    <if test="searchCondition == 1 and searchKeyword !='' ">
                        reported_id LIKE "%"||#{searchKeyword}||"%"
                    </if>
                </where>
            </if>
            ) countTable
        </if>

        <if test='where=="clubReportList"'>
            SELECT club_report_num, club_num, report_id, cr_basis, report_date
            FROM club_report
            <if test="searchCondition != null">
                <where>
                    <if test="searchCondition == 0 and searchKeyword !='' ">
                        club_report_num = to_char(#{searchKeyword})
                    </if>
                    <if test="searchCondition == 1 and searchKeyword !='' ">
                        report_id LIKE "%"||#{searchKeyword}||"%"
                    </if>
                </where>
            </if>
            ) countTable
        </if>
    </select>

    <!-- 모임 신고 Query -->
    <insert id="addClubReport" parameterType="clubReport">
        INSERT INTO club_report(
            club_report_num,
            club_num,
            report_id,
            admin_id,
            cr_basis,
            report_date,
            report_text,
            rereport_apply_check,
            rereport_result )
        VALUES (    seq_club_report.NEXTVAL,
                    #{clubNum},
                    #{reportId},
                    #{adminId},
                    #{crBasis},
                    SYSDATE,
                    #{reportText},
                    'N',
                    '대기'
               )
    </insert>

    <select id="getClubReport"	parameterType="int"	resultMap="ClubReportSelectMap">
        SELECT
            club_report_num,
            cr.club_num,
            cr.report_id,
            cr.cr_basis,
            cr.report_date,
            cr.report_text,
            cr.process_date,
            cr.report_result,
            cr.admin_id,
            c.club_master_id,
            c.club_name
        FROM club_report cr, club c
        WHERE cr.club_report_num = #{value}
            AND cr.club_num = c.club_num
    </select>

    <update	id="processClubReport"	parameterType="clubReport" >
        UPDATE club_report
        <set>
            process_date 		= SYSDATE ,
            report_result =    #{reportResult}
        </set>
        WHERE club_report_num = #{clubReportNo}
    </update>

    <update	id="processClubRereport"	parameterType="clubReport" >
        UPDATE club_report
        <set>
            rereport_apply_check 	= <if test='rereportText!=null'>'Y'</if> ,
            rereport_apply_date = SYSDATE,
            rereport_text = #{rereportText},
            rereport_result = #{rereportResult}
        </set>
        WHERE club_report_num = #{clubReportNo}
    </update>

    <select id="listClubReport"			parameterType="search"			resultMap="ClubReportSelectMap">
        SELECT
        inner_table.*
        FROM (
            SELECT
                ROWNUM row_seq,
                deep_inner.*
                FROM (
                    SELECT  cr.club_report_num,
                            cr.club_num,
                            cr.report_id,
                            cr.admin_id,
                            cr.cr_basis,
                            cr.report_date,
                            cr.report_text,
                            cr.process_date,
                            cr.report_result,
                            cr.rereport_apply_check,
                            cr.rereport_apply_date,
                            cr.rereport_text,
                            cr.rereport_result,
                            c.club_master_id,
                            c.club_name
                        FROM club_report cr, club c
                        WHERE cr.club_num = c.club_num
                        ORDER BY cr.club_report_num DESC ) deep_inner
                    WHERE ROWNUM &lt;= #{endRowNum} ) inner_table
            WHERE inner_table.row_seq BETWEEN #{startRowNum} AND #{endRowNum}
    </select>

</mapper>