<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">

    <resultMap id="userSelectMap" type="user">
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="masterCheck" column="master_check" jdbcType="CHAR"/>
        <result property="userStatus" column="user_status" jdbcType="CHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="rrd" column="rrd" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="villCode" column="vill_code" jdbcType="VARCHAR"/>
        <result property="userImage" column="user_Image" jdbcType="VARCHAR"/>
        <result property="lcd" column="lcd" jdbcType="DATE"/>
        <result property="loginCheck" column="login_check" jdbcType="CHAR"/>
        <result property="psd" column="psd" jdbcType="DATE"/>
        <result property="ped" column="ped" jdbcType="DATE"/>
        <result property="ppt" column="ppt" jdbcType="NUMERIC"/>
        <result property="reviewPt" column="review_pt" jdbcType="NUMERIC"/>
    </resultMap>

    <resultMap id="interListSelectMap" type="interList">
        <result property="userInterListNum" column="user_inter_list_num" jdbcType="NUMERIC"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="interList" column="inter_list" jdbcType="CHAR"/>
    </resultMap>



    <insert      id="addUser"     parameterType="user" >
        INSERT INTO users(user_id, master_check, user_status, password, user_name, rrd, gender, email,
                          phone, vill_code, user_image, lcd, login_check, psd, ped, ppt, review_pt)
        values(#{userId:VARCHAR}, #{masterCheck:CHAR}, #{userStatus:CHAR}, #{password:VARCHAR}, #{userName:VARCHAR}, #{rrd:VARCHAR},
               #{gender:VARCHAR}, #{email:VARCHAR}, #{phone:VARCHAR}, #{villCode:VARCHAR}, #{userImage:VARCHAR},
               #{lcd,jdbcType=DATE}, #{loginCheck:CHAR}, #{psd,jdbcType=DATE}, #{ped,jdbcType=DATE}, #{ppt:NUMERIC}, #{reviewPt:NUMERIC})
    </insert>

    <insert      id="addInterList"     parameterType="com.project.domain.UserInterList" >
        INSERT INTO user_inter_list(user_inter_list_num, user_id, inter_list)
        values(seq_user_inter_list_num.nextval, #{userId}, #{interList})
    </insert>

    <delete id="deleteInterList" parameterType="com.project.domain.UserInterList">
        delete from user_inter_list
        where user_id=#{userId} and inter_list=#{interList}
    </delete>

    <select id="getUser"    parameterType="String" resultMap="userSelectMap">
        SELECT user_id, master_check, user_status, password, user_name, gender, email,
               phone, vill_code, user_image, lcd, login_check, psd, ped, ppt, review_pt
        FROM users
        WHERE user_id=#{userId}
    </select>

    <update id="updateLcd" parameterType="String" >
        UPDATE users
        <set>
            lcd = #{msg}
        </set>

    </update>

    <select id="checkDupRrd" parameterType="String" resultMap="userSelectMap">
        SELECT rrd
        FROM users
        WHERE rrd=#{rrd}
    </select>

    <update id="updateUser" parameterType="user">
        UPDATE users
        <set>
            password = #{password},
            email = #{email},
            phone = #{phone},
            vill_code = #{villCode},
            user_image = #{userImage}
        </set>
        WHERE user_id=#{userId}
    </update>

    <select  id="listUser"  parameterType="user"	resultMap="userSelectMap">
    SELECT *
    from users
    </select>

    <sql id="listUser2">
        select
            user_id, lcd, review_pt, ppt, psd, ped, userStatus
        from users
    </sql>

    <select id="userInfor" parameterType="user" resultMap="userSelectMap" >
        select a.user_id, a.password, a.user_name, a.rrd, a.gender, a.email, a.phone, a.vill_code, b.inter_list, a.user_image, a.lcd, a.psd, a.ped, a.ppt, a.review_pt
        from users a, user_inter_list b
        where a.user_id=b.user_id and a.user_id=(select a.user_id from users a where a.user_id IN (#{userId}) )
    </select>

    <select id="getUserDetail" parameterType="String" resultMap="userSelectMap">
        select a.user_id, a.user_status, a.user_name, a.rrd, a.gender, a.email, a.phone, a.vill_code, b.inter_list, a.user_image, a.lcd, a.psd, a.ped, a.ppt, a.review_pt
        from users a, user_inter_list b
        where a.user_id=b.user_id and a.user_id=(select a.user_id from users a where a.user_id IN (#{userId}) )
    </select>





</mapper>